@inject ITranslationService translationService
@{
    // done
    string recoverPasswordErrorMessage = string.Empty;
    string? recoverPasswordSuccessMessage = TempData["recoverPasswordSuccess"] as string;
    // handle error messages sent with model validations
    if (!ViewData.ModelState.IsValid)
    {
        if (ViewData.ModelState.ContainsKey("recoverPasswordError"))
            recoverPasswordErrorMessage = ViewData.ModelState["recoverPasswordError"]!.Errors[0].ErrorMessage;
    }
    // when there are no errors, redirect to home page after 5 seconds
    if (ViewData.ModelState.IsValid && string.IsNullOrEmpty(recoverPasswordErrorMessage) && !string.IsNullOrEmpty(recoverPasswordSuccessMessage))
    {
        // HTML meta refresh tag for redirection if JavaScript is disabled
        //<meta http-equiv="refresh" content="5;url=@Url.Content("~/")" />
        <a asp-asp-controller="Account" asp-action="Login" class="btn btn-blue">@translationService.Translate(Terms.Login)</a>
    }
}

<div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-30" style="min-width: 422px;">
    <div class="shine-effect"></div>
    @if (string.IsNullOrEmpty(recoverPasswordSuccessMessage))
    {
        <form id="recoverPasswordForm" method="post" action="@(!string.IsNullOrEmpty(Configuration["BASE_URL"]) ? Configuration["BASE_URL"] : string.Empty)/Account/RecoverPassword">
            <table class="w-100">
                <!-- section email -->
                <tr>
                    <td class="w-50">
                        <label for="recoverPasswordEmail" class="text-light-one">@translationService.Translate(Terms.EnterEmail)</label>
                    </td>
                    <td class="w-50">
                        <input type="email" class="w-100 enlightenment-input" id="recoverPasswordEmail" name="email" value="@Model">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="recoverPasswordEmailError" class="invalid-feedback @(!string.IsNullOrEmpty(recoverPasswordErrorMessage) ? "inline" : "hidden")">@recoverPasswordErrorMessage</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="w-100 text-end">
                        <a asp-asp-controller="Account" asp-action="Login" class="abort-button f-14 pt-0 pb-0 h-22px mt-0 mb-0 mx-auto inline-block">@translationService.Translate(Terms.BackToLogin)</a>
                        <button type="submit" class="confirm-button f-14 h-24px pt-2 v-align-t">@translationService.Translate(Terms.ResetPassword)</button>
                    </td>
                </tr>
            </table>
        </form>
    }
    <!-- section recover password success -->
    <div class="text-center w-100">
        <p id="recoverPasswordEmailSuccess" class="text-light-one w-100 @(!string.IsNullOrEmpty(recoverPasswordSuccessMessage) ? "inline" : "hidden")">@translationService.Translate(Terms.PasswordResetEmailSent)</p>
        <a id="redirectButton" asp-controller="Account" asp-action="Login" class="confirm-button f-14 pt-0 pb-0 h-22px w-80px mt-10 mb-10 mx-auto @(!string.IsNullOrEmpty(recoverPasswordSuccessMessage) ? "block" : "hidden")">@translationService.Translate(Terms.Login)</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#recoverPasswordForm').on('submit', function (event) {
                event.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {
                        const redirectButton = $('#redirectButton');
                        const recoverPasswordForm = $('#recoverPasswordForm');
                        const recoverPasswordEmailError = $('#recoverPasswordEmailError');
                        const recoverPasswordEmailSuccess = $('#recoverPasswordEmailSuccess');
                        redirectButton.removeClass('block').addClass('hidden');
                        recoverPasswordEmailError.removeClass('inline').addClass('hidden');
                        recoverPasswordEmailSuccess.removeClass('inline').addClass('hidden');
                        if (data.success) {
                            redirectButton.removeClass('hidden').addClass('block');
                            recoverPasswordEmailSuccess.removeClass('hidden').addClass('inline');
                            recoverPasswordForm.removeClass('inline').addClass('hidden');
                        } else {
                            if (data.errorMessage)
                                recoverPasswordEmailError.text(data.errorMessage).removeClass('hidden').addClass('inline');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        swal("STOP!", textStatus + " " + errorThrown, "error", {
                            button: {
                                text: "OK",
                                className: "confirm-button",
                            }
                        });
                    }
                });
            });
        });
    </script>
}
