@inject ITranslationService translationService

<div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-30 mt-10" style="min-width: 320px;">
    <div class="shine-effect"></div>
    <form id="recoverPasswordForm" method="post" action="@(!string.IsNullOrEmpty(Configuration["BASE_URL"]) ? Configuration["BASE_URL"] : string.Empty)/Account/RecoverPassword">
        @Html.AntiForgeryToken()
        <table class="w-100">
            <!-- section username -->
            <tr>
                <td class="w-50">
                    <label for="recoverPasswordUsername" class="text-light-one">@translationService.Translate(Terms.Username)</label>
                </td>
                <td class="w-50">
                    <input type="text" class="w-100 enlightenment-input" id="recoverPasswordUsername" name="Username" value="@Model">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="recoverPasswordUsernameError" class="invalid-feedback hidden"></span>
                </td>
            </tr>
            <!-- section TOTP -->
            <tr>
                <td class="w-25">
                    <label id="recoverPasswordTotpLabel" for="recoverPasswordTotpCode" class="text-light-one">@translationService.Translate(Terms.EnterTotpCode)</label>
                </td>
                <td class="w-75">
                    <input type="number" class="w-100 enlightenment-input" id="recoverPasswordTotpCode" name="totpCode" value="@Model?.TotpCode">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="w-100">
                    <span id="recoverPasswordTotpError" class="invalid-feedback hidden"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="w-100 text-end">
                    <a asp-asp-controller="Account" asp-action="Login" class="abort-button f-14 pt-0 pb-0 h-22px pl-5 pr-5  mt-0 mb-0 mx-auto inline-block">@translationService.Translate(Terms.BackToLogin)</a>
                    <button type="submit" class="confirm-button f-14 h-24px pt-2 pl-5 pr-5 v-align-t">@translationService.Translate(Terms.ValidateCode)</button>
                </td>
            </tr>
        </table>
    </form>
    <!-- section recover password success -->
    <div class="text-center w-100">
        <p id="recoverPasswordUsernameSuccess" class="text-light-one w-100 hidden">@translationService.Translate(Terms.PasswordTemporarilyReset)</p>
        <a id="redirectButton" asp-controller="Account" asp-action="ChangePassword" class="confirm-button f-14 pt-0 pb-0 h-22px pl-5 pr-5 mt-0 mb-0 mx-auto hidden">@translationService.Translate(Terms.ChangePassword)</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#recoverPasswordForm').on('submit', function (event) {
                event.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        const redirectButton = $('#redirectButton');
                        const recoverPasswordForm = $('#recoverPasswordForm');
                        const recoverPasswordTotpError = $('#recoverPasswordTotpError');
                        const recoverPasswordUsernameError = $('#recoverPasswordUsernameError');
                        const recoverPasswordUsernameSuccess = $('#recoverPasswordUsernameSuccess');
                        redirectButton.removeClass('block').addClass('hidden');
                        recoverPasswordTotpError.removeClass('inline').addClass('hidden');
                        recoverPasswordUsernameError.removeClass('inline').addClass('hidden');
                        recoverPasswordUsernameSuccess.removeClass('inline').addClass('hidden');
                        if (data.success) {
                            redirectButton.removeClass('hidden').addClass('inline-block');
                            recoverPasswordUsernameSuccess.removeClass('hidden').addClass('inline-block');
                            recoverPasswordForm.removeClass('inline').addClass('hidden');
                        } else {
                            if (data.usernameError)
                                recoverPasswordUsernameError.text(data.usernameError).removeClass('hidden').addClass('inline');
                            if (data.totpError) 
                                recoverPasswordTotpError.text(data.totpError).removeClass('hidden').addClass('inline');
                            if (data.errorMessage)
                                recoverPasswordUsernameError.text(data.errorMessage).removeClass('hidden').addClass('inline');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        swal("STOP!", textStatus + " " + errorThrown, "error", {
                            button: {
                                text: "OK",
                                className: "confirm-button",
                            }
                        });
                    }
                });
            });
        });
    </script>
}
