@inject ITranslationService translationService
@{
    ViewData["Title"] = @translationService.Translate(Terms.EmailVerification);
    string? validateAccountSuccess = TempData["ValidateAccountSuccess"] as string;
    string? validateAccountError = TempData["ValidateAccountError"] as string;
}

<div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-30 text-center" style="min-width: 422px;">
    <div class="shine-effect"></div>
    @if (!string.IsNullOrEmpty(validateAccountError))
    {
        <p class="w-100 invalid-feedback @(!string.IsNullOrEmpty(validateAccountError) ? "block" : "hidden")">@validateAccountError</p>
    }
    else if (!string.IsNullOrEmpty(validateAccountSuccess))
    {
        <p class="w-100 text-light-one">@validateAccountSuccess</p>
    }
    <a id="redirectButton" asp-controller="Account" asp-action="Login" class="confirm-button f-14 pt-0 pb-0 h-22px w-80px mt-10 mb-10 mx-auto inline-block">@translationService.Translate(Terms.Login)</a>
</div>